.Info {
    text-align: center;
}

p {
    color: #656565;
    margin: 0.5px;
}

.gallerey {
    margin: 0 auto;
    border-radius: 10px;
    height: 80%
}

.screen {
    max-width: 40%;
    height: 58vh
}

.screen2 {
    max-width: 50%;
    height: 58vh
}

.screen3 {
    max-width: 90%;
    height: 52vh
}

.screen4 {
    max-width: 80%;
    height: 52vh
}